celery==5.3.6
redis==5.0.3
torch==2.2.1
transformers==4.38.2
peft==0.9.0
datasets==2.18.0
trl==0.7.11
bitsandbytes==0.42.0
accelerate==0.27.2
boto3==1.34.62
psycopg2-binary==2.9.9
SQLAlchemy==2.0.28
sqlmodel==0.0.16
wandb==0.16.4
